.container-fluid{

}
.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    text-transform: uppercase;
    color:white;
    text-align: center;
    
}

#line{
    font-size:20px;
}
#aboutus{
    text-align: center;
}

#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    color:white;
    text-align: center;
}
#servicetitle{
    margin-top:60px;
}
#whatwedo{
    
    text-align:center;
}

#serviceimgs{
    margin-left: 100px;
    

}
#portfolio{
    text-align: center;
}
#portfolioimgs img{
    width:23%;
    margin-left:22px;
}

#contactus{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}
#social {

    text-align:center;
}
#social #social-icons img{
    

}
