.container-fluid{

}
.jumbotron{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    text-transform: uppercase;
    color:white;
    text-align: center;
    height: 700px;
    
}

#line{
    font-size:20px;
}
#aboutus{
    text-align: center;

}

#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    color:white;
    text-align: center;
}
#servicetitle{
    margin-top:60px;
}
#whatwedo{
    
    text-align:center;
    height:300px;
}

#serviceimgs{
    margin-left:100px;
    
}
.card {
    text-align: center;
}
#serviceimgs img{
    
    margin-left:200px;
    text-align: center;
}
#portfolio{
    text-align: center;
}
#portfolioimgs img{
    width:23%;
    margin-left:22px;
}

#contactus{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}
#social {

    text-align:center;
}
#social #social-icons {
    
margin-left:400px;
}
#social #social-icons img{
    margin-left: 10px;
}
#designtext{
    /* display: none; */
    width: 17%;
    
}
#development-text{
    display: none;
    text-align: justify center;

 }   
#product-management-text{
     display: none;
 }

.form-group input{
    background: transparent;
    border:1px solid white;
}

#inputmessage{
    height: 300px;
    width:60%;
    
}
.designlogo{
    cursor:pointer;
    
}
.developmentlogo{
    cursor:pointer;
}

.productmangementlogo{
    cursor:pointer;
}
.item{
    text-align:center;
    display:inline-block;
    vertical-align:top;
}
.caption{
    display:block;
    margin-left:200px;
}

/* trial phase */
.icons{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.icon-1{
    width: 33%;
}
.icon-2{
    width: 33%;
}
.icon-3{
    width: 33%;
}



.p1{
    display: none;
}
.p2{
    display: none;
}
.p3{
    display: none;
}


 #blank{

cursor: pointer;

 }

 #ontario{
cursor: pointer;
 }
#orange{
cursor: pointer;
}
#jimcarey{
cursor: pointer;
}
 #goodday{
cursor: pointer;
 }
 #form{
cursor: pointer;
 }
#burned{
cursor: pointer;
}
#giraffe{
cursor: pointer;
}
/* PARAGRAPH */
.prg1{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg2{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg3{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg4{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg5{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg6{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg7{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}
.prg8{
    position: absolute;
    color: ghostwhite;
    text-align: center;
    left: 30px;

    display: none;
}


input[type="email"]::placeholder{
    color:white;
}


input[type="text"]::placeholder{
    color:white;
}


